
<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome!
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" >

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item *ngIf="authForm.controls.name.hasError('required') && authForm.controls.name.touched">
      <p>Sorry, field name is required!</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
      <p>Sorry, field password is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
      <p>Sorry, minimum password length is 8!</p>
    </ion-item>
  </form>
  <br>
  <button ion-button full class="quarter-button" [disabled]="!authForm.valid" color="Primary" id ="form1Sbm" type = "submit"(click)="logIn();goToMain();">Log In</button>
  <br>
  <button ion-button full class="quarter-button" color="light" id ="form9Sbm" type = "submit"(click)="goToReg();">Create Account</button>
</ion-content>
