<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="text" id="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
      <p>Sorry, field email is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.email.hasError('email') && authForm.controls.email.touched">
      <p>Must be a valid email!</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password" id="psw"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
      <p>Sorry, field password is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
      <p>Sorry, minimum password length is 8!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.hasError('pattern') && authForm.controls.password.touched">
      <p>Password should be at least 8 characters long and <br>should contain one number,one character <br>and one special character.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phoneNumber" type="text" id="phoneNumber"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.phoneNumber.hasError('required') && authForm.controls.phoneNumber.touched">
      <p>Sorry, field Phone Number is required!</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Zip Code</ion-label>
      <ion-input formControlName="zipCode" type="text" id="zipCode"></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.zipCode.hasError('required') && authForm.controls.zipCode.touched">
      <p>Sorry, field Zip Code is required!</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Repeat Password</ion-label>
      <ion-input formControlName="repeatPassword" type="password" ></ion-input>
    </ion-item>
    <ion-item *ngIf="authForm.controls.repeatPassword.hasError('required') && authForm.controls.repeatPassword.touched">
      <p>Sorry, field Repeat Password is required!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.repeatPassword.hasError('minlength') && authForm.controls.repeatPassword.touched">
      <p>Sorry, minimum password length is 8!</p>
    </ion-item>
    <ion-item *ngIf="authForm.controls.repeatPassword.touched && authForm.hasError('mismatchedPasswords') && authForm.controls.password.valid">
      <p>Passwords do not match</p>
    </ion-item>



    <button ion-button full class="quarter-button" [disabled]="!authForm.valid" color="light" id ="form1Sbm" type = "submit"(click)="register();goToEULA();">Create Account</button>
  </form>
</ion-content>


<!--
<script>
  function register(){
    console.log("hello");
    $("#form1Sbm").click(function () {
      //submitHandlerPatient("<%= configUrl %>");
      var firstName = $("#firstName") ? $("#firstName")[0].value : " ";
      var phoneNumber = $("#phoneNumber") ? $("#phoneNumber")[0].value : "";
      var zipCode = $("#zipCode") ? $("#zipCode")[0].value : "";
      var email = $("#email") ? ($("#email")[0].value) : ""; //default
      var password = $("#psw") ? $("#psw")[0].value : "";

      $.ajax({
        type: 'POST',
        url: "localhost:8001/api/signup",
        data: {
          firstName: Joi.string().required(),
          email: Joi.string().email().lowercase().required(),
          password: Joi.string().required(),
          phoneNumber: Joi.string().required(),
          zipCode: Joi.string().required()
        },
        dataType: "json",
        success: function (data, text) {
          basil.set('cookie', data);
          console.log("sucess");
          console.log(data)
          window.location.href = serverUrl;
        },
        error: function (request, status, error) {
          var reply = request.responseText
          var replyText = (JSON.parse(reply))
          alert(replyText.message)
          console.log('failure')
        }
      });
    }
</script>
-->

