<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div *ngIf="!registered">
  <form class="modal-content animate">
    <div class="container">
      <label><b>First Name</b></label>
      <ion-input type="text" placeholder="First Name" name="firstName" required></ion-input>
      <label><b>Phone Number</b></label>
      <ion-input type="text" placeholder="Enter Phone Number" name="phoneNumber" required></ion-input>
      <label><b>Zip Code</b></label>
      <ion-input type="text" placeholder="Enter ZipCode" name="zipCode" required></ion-input>
      <label><b>Email</b></label>
      <ion-input type="text" placeholder="Enter Email" name="email" required></ion-input>

      <label><b>Password</b></label>
      <ion-input type="password" placeholder="Enter Password" name="psw" required></ion-input>

      <label><b>Repeat Password</b></label>
      <ion-input type="password" placeholder="Repeat Password" name="psw-repeat" required></ion-input>

      <button ion-button full class="quarter-button" color="secondary" (click)="register()">Register</button>
    </div>
  </form>
</div>
<div *ngIf="registered">
  <ion-card>
    <ion-card-content>
      Thanks for registering
    </ion-card-content>
  </ion-card>
</div>

</body>
<script>
  function register(){
    $("#form1Sbm").click(function () {
      //submitHandlerPatient("<%= configUrl %>");
      var uname = $("#firstName") ? $("#firstName")[0].value : " ";
      var email = $("#email") ? $("#email")[0].value : "";
      var password = $("#password") ? $("#password")[0].value : "";
      var yoI = $("#yearOfInjury") ? parseInt($("#yearOfInjury")[0].value) : 1900; //default
      var gender = $("#gender") ? $("#gender")[0].value : "";
      var comments = $("#comments") ? $("#comments")[0].value : "";
      var tncCheckboxValue = $('#tncCheckbox') ? $('#tncCheckbox').prop('checked') : false;
      var tncAgreement = tncCheckboxValue ? 1 : 0;

      $.ajax({
        type: 'POST',
        url: "localhost:8001/api/signup",
        data: {
          name: uname,
          email: Joi.string().email().lowercase().required(),
          username: Joi.string().token().lowercase().required(),
          password: Joi.string().required()
        },
        dataType: "json",
        success: function (data, text) {
          basil.set('cookie', data);
          console.log("sucess");
          console.log(data)
          window.location.href = serverUrl;
        },
        error: function (request, status, error) {
          var reply = request.responseText
          var replyText = (JSON.parse(reply))
          alert(replyText.message)
          console.log('failure')
        }
      });
    }
</script>>
</html>


