<ion-header>
  <ion-navbar>
    <ion-title>
      EULA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="!hidden">
      <ion-card-header>
        End User Agreement
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut suscipit suscipit tempus.
        Vivamus quis fermentum odio.
        Nunc placerat congue hendrerit.
        <br/><br/>
        Sed nisi lacus, condimentum ut magna vel, tempus finibus eros.
        Ut blandit varius purus, nec lacinia sapien sodales quis.
        Donec pulvinar vestibulum erat, et accumsan turpis pretium congue.
        Phasellus tempus sit amet purus ac congue.
        <br/><br/>
        Sed ipsum massa, facilisis ut purus a, facilisis pretium dolor.
        Aenean vel purus convallis, pulvinar lectus quis, pellentesque lacus.
        Vivamus sit amet porta nulla.
        Duis ex augue, elementum vitae erat non, accumsan viverra ex.
        Nulla sodales nunc ac tincidunt accumsan.
        Nunc lacinia dignissim feugiat.
        Ut scelerisque ut purus ut molestie.
        Cras gravida interdum diam, eu aliquam mauris pretium eget.
        Nam et velit id dui varius rutrum ut id magna.
        <br/><br/>
        Phasellus elementum eleifend dui, quis ullamcorper metus ornare porttitor.
        Etiam blandit, ante blandit consequat ornare, felis eros laoreet odio, in semper est ipsum sed mi.
        Cras vestibulum, dui eu varius pellentesque, est nulla malesuada quam, non hendrerit lorem eros consectetur
        sapien.
        Nunc luctus lectus id arcu consequat, vitae pretium purus consectetur.
        Ut risus lorem, aliquam eu eros in, varius blandit turpis.
        In sit amet pretium tortor.
        Curabitur aliquam nisl eu volutpat semper.
        Nullam et nisi in sem ultricies malesuada.
        Donec blandit, nisl id fermentum venenatis, mi odio finibus mauris, et ultrices nisi erat sed ex.
        Cras viverra blandit imperdiet.
        Maecenas nulla metus, congue et turpis nec, vehicula egestas leo.
        <br/><br/>
        Maecenas sed imperdiet nunc.
        Praesent in euismod augue.
        Aliquam nulla tellus, aliquam ut erat nec, ullamcorper vestibulum massa.
        Suspendisse potenti.
        Suspendisse eu dapibus lectus.
        Sed sed nibh quam.
        Vivamus ac metus ac nisi pretium finibus.
        Sed ullamcorper sem at dui porttitor sagittis.
        <br/><br/>
        <ion-row>
          <ion-col>
            <button ion-button full class="quarter-button" (click)="disagree()">I Do Not Agree</button>
          </ion-col>
          <ion-col>
            <button ion-button full class="quarter-button" (click)="goToMain()">I Agree</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
    <div *ngIf="hidden && !agreed">
      <ion-card-content>
        You must agree to the EULA to use the app.
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
