<ion-header>
  <ion-navbar>
    <ion-title>Wait</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="state==emergencyEnum.CALL">
    <ion-card-content>
      <button ion-button full class="quarter-button" color="danger" (click)="startEmergency()">Emergency</button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="state==emergencyEnum.SEND">
    <ion-card-content>
      <h2 style="text-align: center;">Please confirm your location</h2>
      <ion-label color="primary" stacked>Address</ion-label>
      <ion-input type="text" [(ngModel)]="address" placeholder="Confirm Address"></ion-input>
      <ion-label color="primary" stacked>Zipcode</ion-label>
      <ion-input type="text" [(ngModel)]="zipcode" placeholder="Confirm Zipcode"></ion-input>
      <button ion-button full class="quarter-button" color="light" (click)="sendAddress()">Update Information</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="state!=emergencyEnum.CALL">
    <ion-card-header>
      <div *ngIf="isSMS">
        Please check your SMS to ensure help is on the way!
      </div>
      <div *ngIf="!isSMS">
        <div *ngIf="isConfirmed">
          Help is on the way!
        </div>
        <div *ngIf="!isConfirmed">
          Waiting for confirmation from the dispatcher!
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <button ion-button full class="quarter-button" color="dark" (click)="endEmergency()">Emergency Over</button>
    </ion-card-content>
  </ion-card>
</ion-content>


